.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.background{
  background: rgb(3, 34, 30);
  text-align: center;
  padding: 20px;
  color: rgba(12, 81, 94, 0.801);

}

.words {
  font-size: 30px;
  height: 200px;
  text-align: left;
  padding-top: 40px;
}

.thePerson {
  font-size: 18px;
  text-align: right;
  padding: 60px;
}

.press {
  background-color: rgb(65, 27, 27);
  border: 1px solid silver;
  font-size: 24px;

}

.press:hover {
  box-shadow: 0 12px 16px 0 rgba(216, 14, 14, 0.514);
}